.contact15-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact15-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact15-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact15-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-text12 {
  text-align: center;
}
 
.contact15-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact15-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact15-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-text13 {
  align-self: stretch;
  text-align: center;
}
 
.contact15-text14 {
  text-align: center;
}
 
.contact15-email1 {
  text-align: center;
}
 
.contact15-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact15-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-text15 {
  align-self: stretch;
  text-align: center;
}
 
.contact15-text16 {
  text-align: center;
}
 
.contact15-email2 {
  text-align: center;
}
 
.contact15-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact15-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-text17 {
  align-self: stretch;
  text-align: center;
}
 
.contact15-text18 {
  text-align: center;
}
 
.contact15-phone {
  text-align: center;
}
 
.contact15-content8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact15-contact-info4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-content9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact15-text19 {
  align-self: stretch;
  text-align: center;
}
 
.contact15-text20 {
  text-align: center;
}
 
.contact15-address {
  text-align: center;
}
 
.contact15-fragment10 {
  display: contents;
}
 
.contact15-text21 {
  display: inline-block;
}
 
.contact15-fragment11 {
  display: contents;
}
 
.contact15-text22 {
  display: inline-block;
}
 
.contact15-fragment12 {
  display: contents;
}
 
.contact15-text23 {
  display: inline-block;
}
 
.contact15-fragment13 {
  display: contents;
}
 
.contact15-text24 {
  display: inline-block;
}
 
.contact15-fragment14 {
  display: contents;
}
 
.contact15-text25 {
  display: inline-block;
}
 
.contact15-fragment15 {
  display: contents;
}
 
.contact15-text26 {
  display: inline-block;
}
 
.contact15-fragment16 {
  display: contents;
}
 
.contact15-text27 {
  display: inline-block;
}
 
.contact15-fragment17 {
  display: contents;
}
 
.contact15-text28 {
  display: inline-block;
}
 
.contact15-fragment18 {
  display: contents;
}
 
.contact15-text29 {
  display: inline-block;
}
 
.contact15-fragment19 {
  display: contents;
}
 
.contact15-text30 {
  display: inline-block;
}
 
.contact15-fragment20 {
  display: contents;
}
 
.contact15-text31 {
  display: inline-block;
}
 
.contact15root-class-name {
  position: relative;
}
 
@media(max-width: 767px) {
  .contact15-row {
    flex-direction: column;
  }
  .contact15root-class-name {
    position: relative;
    align-self: center;
  }
}
