.footer8-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer8-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
}
 
.footer8-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 420px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer8-content-title1 {
  color: #033880;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
}
 
.footer8-content1 {
  font-size: 20px;
  text-transform: capitalize;
}
 
.footer8-content2 {
  font-size: 20px;
}
 
.footer8-text12 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
 
.footer8-text13 {
  text-transform: capitalize;
}
 
.footer8-text17 {
  text-decoration: underline;
}
 
.footer8-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
 
.footer8-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer8-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer8-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.footer8-fragment {
  display: contents;
}
 
.footer8-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .footer8-newsletter {
    width: 300px;
  }
}
 
@media(max-width: 767px) {
  .footer8-content {
    flex-direction: column;
  }
  .footer8-newsletter {
    width: 100%;
  }
  .footer8-social-links {
    align-self: flex-start;
  }
  .footer8-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer8-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer8-credits {
    gap: 0;
  }
  .footer8-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
  .footer8-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
